<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row">
  <div class="col-xs-6">

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
  <%= f.label :name %>
  <%= f.fields_for @my_area do |my| %>
    <%= my.hidden_field :user_id, :value => @user.id %>
    <% end %>
  <em class="number-alarm">＊必須</em>
  <br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
  </div>

  
  <div class="field">
    <%= f.label :性別 %>
    <em class="number-alarm">＊必須</em>
    <br />
    <%= f.radio_button :gender, "男" %>イケメン <%= f.radio_button :gender, "男" %>野獣 <%= f.radio_button :gender, "女" %>美女
  </div>
  
  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.date_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :住所 %><em class="number-alarm">＊お住いの都道府県と市町村区</em>
    <br />
    <%= f.text_field :adress, autofocus: true, autocomplete: "adress", class:"form-control" %>
  </div>

      <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :主な洋服のサイズ %><br />
    <%= f.radio_button :my_size, "xs"%>XS <%= f.radio_button :my_size, "s" %>S <%= f.radio_button :my_size, "m" %>M<br>
    <%= f.radio_button :my_size, "l" %>L <%= f.radio_button :my_size, "xl" %>XL <%= f.radio_button :my_size, "xxl" %>XXL<br>
    <%= f.radio_button :my_size, "xxl" %>野獣サイズ<br>
  </div>
  
 <div class="field">
    <%= f.label :my_shoes_size %>
    <em class="number-alarm">＊選択してください</em>
    <br />
    ~20cm<%= f.check_box :my_shoes_size, {}, "~20cm", "false" %><br>
    20.5cm<%= f.check_box :my_shoes_size, {}, "20.5cm", "false" %><br>
    21cm<%= f.check_box :my_shoes_size, {}, "21cm", "false" %><br>
    21.5cm<%= f.check_box :my_shoes_size, {}, "21.5cm", "false" %><br>
    22cm<%= f.check_box :my_shoes_size, {}, "22cm", "false" %><br>
    22.5cm<%= f.check_box :my_shoes_size, {}, "22.5cm", "false" %><br>
    23cm<%= f.check_box :my_shoes_size, {}, "23cm", "false" %><br>
    23.5cm<%= f.check_box :my_shoes_size, {}, "23.5cm", "false" %><br>
    24cm<%= f.check_box :my_shoes_size, {}, "24cm", "false" %><br>
    24.5cm<%= f.check_box :my_shoes_size, {}, "24.5cm", "false" %><br>
    25cm<%= f.check_box :my_shoes_size, {}, "25cm", "false" %><br>
    25.5cm<%= f.check_box :my_shoes_size, {}, "25.5cm", "false" %><br>
    26cm<%= f.check_box :my_shoes_size, {}, "26cm", "false" %><br>
    26.5cm<%= f.check_box :my_shoes_size, {}, "26.5cm", "false" %><br>
    27cm<%= f.check_box :my_shoes_size, {}, "27cm", "false" %><br>
    27.5cm<%= f.check_box :my_shoes_size, {}, "27.5cm", "false" %><br>
    28cm<%= f.check_box :my_shoes_size, {}, "28cm", "false" %><br>
    28.5cm<%= f.check_box :my_shoes_size, {}, "28.5cm", "false" %><br>
    29cm<%= f.check_box :my_shoes_size, {}, "29cm", "false" %><br>
    29.5cm<%= f.check_box :my_shoes_size, {}, "29.5cm", "false" %><br>
    30cm~<%= f.check_box :my_shoes_size, {}, "30cm~", "false" %><br>
  </div>
  
  <div class="field">
    <%= f.label :my_height %>
    <em class="number-alarm">＊半角英数字で数値のみ記入</em>
    <br />
    <%= f.number_field :my_height, autofocus: true, class:"form-control"%>cm
  </div>
  
  <div class="field">
    <%= f.label :好きなジャンル %>
    <em class="number-alarm">＊必須</em>
    <br />
    <%= f.text_field :genre, autofocus: true, class:"form-control" %>
  </div>
  
   <%= f.fields_for @area do |f| %>
  <div class="field">
    <%= f.label :よく買い物に行く都道府県エリア %><br />
    <%= f.fields_for @my_area do |my| %>
    <%= my.hidden_field :area_id, :value => @area.id %>
    <% end %>
    <%= f.collection_select(:pref, @areas, :id, :pref) %>
  </div>
 
  <div class="field">
    <%= f.label :よく買い物に行くエリア %><br />
    <%= f.collection_select(:area, @areas, :id, :area) %>
  </div>
  <% end %>
  
  <div class="field">
    <%= f.label :月に洋服にかける金額 %>
    <em class="number-alarm">＊選択してください</em>
    <br />
    <%= f.select :my_price, {"~5万円" => 1, "5~10万円" => 2, "10~15万円" => 3,"15~20万円" => 4,
    "20~30万円" => 5,"30~50万円" => 6,"50~万円" => 7} %>
  </div>
  
  <div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_area :self_introduction, autofocus: true, placeholder: "よろしく！", class:"form-control"%>
  </div>
<br>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
 

  <div class="actions">
    <p><%= f.submit "登録する", class:"btn btn-info" %></p>
  </div>
  </div>
</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
