<div class="row">
        <div class="col-xs-6">
            
    <div class="users-show-image">
        <%= image_tag @user.image.to_s %>
    </div>
    <h2><%= @user.name %></h2>
    <p><%= @user.email %></p>
    <p><%= @user.gender %> : 誕生日<%= @user.birthday %></p>
    <p>主な服のサイズ: <%= @user.my_size %></p>
    <p>主な服のサイズ: <%= @user.my_shoes_size %></p>
    <p>身長: <%= @user.my_height %></p>
    <p>好きな洋服ジャンル: <%= @user.genre %></p>
    <p>よく買い物に行く都道府県エリア: </p>
    <p>よく買い物に行くエリア: </p>
    <p>月に洋服にかける金額: <%= @user.my_price %></p>
 <div class="user-show-btn" >
  <% if @user.id ==current_user.id %>
<%= link_to "編集する", edit_user_registration_path(@user.id), class: "btn btn-warning" %>
<%= link_to "削除する", edit_user_registration_path(@user.id), class: "btn btn-warning" %>
  <% else %>
チャットボタン
  <% end %>
 </div>
 <div class="content-box">
 <%= @user.self_introduction %>
 </div>
</div>

<div class="col-xs-6">
<ul class="user-tabs" >
    <li class="active"><%= link_to "投稿", user_path(@user.id) %></li>
    <li><%= link_to "いいね", "/users/#{@user.id}/like" %></li>
</ul>

    <% @like.posts.each do |post| %>
    <% post.like %>
    <div class= "posts-index-item">
  <div class="posts-left">
   <%= link_to post.user.name, user_path(@user.id) %>
  </div>
  <div class="posts-right">
     <p><%= link_to post.content, post_path(post.id) %></p>
    </div>
     <div class="posts-bottom" >
     <p><%= image_tag post.user.image.to_s %></p>
     </div>
  </div>
    <% end %>
  </div>
</div>   
    
    