<div class="row">
        <div class="col-xs-6">
            
    <div class="users-show">
        <%= image_tag @user.image.to_s, class: "users-image" %>
    </div>
    <h2><%= @user.name %></h2>
    <p><%= @user.email %></p>
    <p><%= @user.gender %> : 誕生日<%= @user.birthday %></p>
    <p>主な服のサイズ: <%= @user.my_size %></p>
    <p>主な服のサイズ: <%= @user.my_shoes_size %></p>
    <p>身長: <%= @user.my_height %></p>
    <p>好きな洋服ジャンル: <%= @user.genre %></p>
    <p>よく買い物に行く都道府県エリア: </p>
    <p>よく買い物に行くエリア: </p>
    <p>月に洋服にかける金額: <%= @user.my_price %></p>
    <% if @area.present? %>
     <p>よく買い物に行くエリア:<%= @area.name %><p>
    <% else %>
     <p>未記入</p>
    <% end %>
 <div class="user-show-btn" >
  <% if @user.id ==current_user.id %>
<%= link_to "編集する", edit_user_registration_path(@user.id), class: "btn btn-warning" %>
<%= link_to "削除する", edit_user_registration_path(@user.id), class: "btn btn-warning" %>
  <% else %>
チャットボタン
  <% end %>
 </div>
 <br>
 <div class="content-box">
 <%= @user.self_introduction %>
 </div>
</div>

<div class="col-xs-6">
<ul class="user-tabs" >
    <li><%= link_to "投稿", user_path(@user.id) %></li>
    <li class="active"><%= link_to "いいね", likes_user_path(@user.id) %></li>
    <li><%= link_to "イベントにいいね", likes_events_user_path(@user.id) %></li>
    <li><%= link_to "イベント投稿", events_user_path(@user.id) %></li>
</ul>


    <% @likes.each do |like| %>
    <% post = Post.find_by(id: like.post_id) %>
    <div class= "posts-index-item">
  <div class="posts-left">
   <%= image_tag post.user.image.to_s, class: "users-image" %>
  </div>
  <div class="posts-right">
    名前:<%= link_to post.user.name, user_path(post.user_id) %>
   </div> 
     <div class="posts-middle">
      投稿内容:<%= link_to post.content, post_path(post.id), class: "posts-content" %>
     </div>
     <div class="posts-bottom" >
      <%= image_tag post.image.to_s, class: "posts-image" %>
     </div>
     </div>
  </div>
    <% end %>
  </div>
</div>   
    