<h1 class= "text-center">投稿する</h1>


<%= form_for @post do |f| %>
<div class="form">
       <div class="form-body">
    <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
    <%= message %>
     <% end %>
     </div>
    <p>タイトル</p>
    <P><%= f.text_field :title, class: 'form-control' %></P>
    <p>投稿内容</p>
    <p><%= f.text_area :content, class: 'form-control my-form' %></p>
    <p><%= f.label :画像 %></p>
    <P><%= f.file_field :image, class: 'form-control' %></P>
   <%= f.hidden_field :user_id, :value => current_user.id %>
    <hr>
    <p><%= f.submit "投稿", class: 'btn btn-info' %></p>
   </div>
</div>
 <% end %>