
<%if @post.image? %>
<div class="post-show-item text-center" >
  <h1 class="item-name"><%=@post.title %></h1>
    
    <div class="post-show-image" >
         <P><%= image_tag @post.image.to_s, :size => '640x326' %></P>
    </div>
    
  <div class="post-show-item1 text-left">
    <p class="user-name">投稿者: <%= @post.user.name%></p>
    
<!--いいねをする処理-->    
<% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
<% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
         <% end %>
<% end %>
    <%= @like_count %>
  </div>  
<hr> 
    <div class= "post-show-content text-left">
         <h3>投稿内容</h3><br><br>
            <p ><%= @post.content %></p>

        <div class="post-time">
            <%=@post.created_at %>
        </div>
    </div>
</div>

<div class='chat text-center'>
    <h3 class="chat-h">コメント欄</h3>
    
<% if @messages.present? %>
    <% @messages.each do |message| %>
         <% if message.user_id == @post.user_id %>
            <h4 class="text-right">
                <p class="alert alert-success">
         <% if message.user_id == current_user.id %>
            <%= link_to message.content, message_path(message.id), method: :delete,
            date: {confirm: "本当に投稿を削除しますか？",
                   cancel: "やめる",
　                 commit: "削除する"}, title: "削除の確認" %>
                   
        <% else %>
            <%= message.content %>
        <% end %>
            <br><br>
            <%= image_tag message.user.image.to_s, size: "50x50" %>
            <small><strong> <%= link_to message.user.name, user_path(message.user_id) %></strong></small>
                </p>
            </h4>
            
        <% else %>
        
             <h4 class="text-left">
                <p class="alert alert-info">
        <% if message.user_id == current_user.id %>
            <%= link_to message.content, message_path(message.id), method: :delete,
            date: {confirm: "本当に投稿を削除しますか？",
                   cancel: "やめる",
　                 commit: "削除する"}, title: "削除の確認" %>
                   
        <% else %>
            <%= message.content %>
        <% end %>
        <br><br>
        <%= image_tag message.user.image.to_s, size: "50x50" %>
        <small><strong> <%= link_to message.user.name, user_path(message.user.id) %></strong></small>
                </p>
            </h4>
        <% end %>
    <% end %>
<% else %>
    <br>
    <h4>メッセージはありません</h4>
    <br>
<% end %>

   <%= form_for @message do |f| %>
    <p><%= f.text_area :content, class: 'form-control', placeholder: 'メッセージを入力してください' %></p>
        <%= f.hidden_field :post_id, :value => @post.id %>
    <p><%= f.submit "送信", class: 'btn btn-info' %></p>
    <% end %> 
</div>
    
    
<% else %>
    
    
    
<div class="post-show-item text-center" >
    <h1 class="item-name"><%=@post.title %></h1>

  <div class="post-show-item2 text-left">
     <p class="user-name">投稿者: <%= @post.user.name%></p>
    
<!--いいねをする処理-->    
<%if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
<% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
         <% end %>
<% end %>
    <%= @like_count %>
   </div>  
<hr>    
    <div class= "post-show-content text-left">
         <h3>投稿内容</h3><br><br>
            <p ><%= @post.content %></p>
        <div class="post-time">
            <%=@post.created_at %>
        </div>
     </div>
</div>


<div class='chat text-center'>
    <h3 class="chat-h">コメント欄</h3>
    
<% if @messages.present? %>
    <% @messages.each do |message| %>
         <% if message.user_id == @post.user_id %>
            <h4 class="text-right">
                <p class="alert alert-success">
             <% if message.user_id == current_user.id %>
            <%= link_to message.content, message_path(message.id), method: :delete,
            date: {confirm: "本当に投稿を削除しますか？",
                   cancel: "やめる",
　                 commit: "削除する"}, title: "削除の確認" %>
                   
        <% else %>
            <%= message.content %>
        <% end %>
            <br><br>
            <%= image_tag message.user.image.to_s, size: "50x50" %>
            <small><strong> <%= link_to message.user.name, user_path(message.user_id) %></strong></small>
                </p>
            </h4>
            
        <% else %>
        
             <h4 class="text-left">
                <p class="alert alert-info">
         <% if message.user_id == current_user.id %>
            <%= link_to message.content, message_path(message.id), method: :delete,
            date: {confirm: "本当に投稿を削除しますか？",
                   cancel: "やめる",
　                 commit: "削除する"}, title: "削除の確認" %>
                   
        <% else %>
            <%= message.content %>
        <% end %>
        <br><br>
        <%= image_tag message.user.image.to_s, size: "50x50" %>
        <small><strong> <%= link_to message.user.name, user_path(message.user.id) %></strong></small>
                </p>
            </h4>
        <% end %>
    <% end %>
<% else %>
    <br>
    <h4>メッセージはありません</h4>
    <br>
<% end %>

   <%= form_for @message do |f| %>
    <p><%= f.text_area :content, class: 'form-control', placeholder: 'メッセージを入力してください' %></p>
        <%= f.hidden_field :post_id, :value => @post.id %>
    <p><%= f.submit "送信", class: 'btn btn-info' %></p>
    <% end %> 
</div>

<% end %>

<div class='text-center'>
<% if @post.user_id == current_user.id %>
<p><%= link_to '編集する', edit_post_path(@post.id), class:'btn btn-info' %></p>
<p><%= link_to '削除', post_path(@post.id), method: :delete, class:'btn btn-warning',
            date: {confirm: "本当に投稿を削除しますか？",
                   cancel: "やめる",
　                 commit: "削除する"}, title: "削除の確認" %>
                   
<% end %>
</div>